.event-module-wrapper .event-name {
  font-size: 1.15em;
  /* example to increase font size */
}

.event-module-wrapper .event-logo {
  max-width: 100%;
  height: auto;
}

.event-module-wrapper .event-qr-code {
  display: block;
  /* ensures it's on a new line */
  margin: 10px auto;
  /* centers the QR code */
}

.event-module-wrapper .event-start,
.event-module-wrapper .event-end {
  font-style: italic;
}

/* Add more customizations as needed */