.event-module-wrapper .event-name {
  font-size: 4em;
  /* Increase the event name font size by 3x */
}

.event-module-wrapper .event-summary {
  font-size: 2em;
  /* Increase the event summary font size by 2x */
}

.event-module-wrapper .event-logo {
  max-width: 100%;
  height: auto;
}

.event-module-wrapper .event-qr-code {
  display: block;
  margin: 10px auto;
  /* Centers the QR code */
  width: 250px;
  /* Adjusted to match your JavaScript */
}

.event-module-wrapper .event-start,
.event-module-wrapper .event-end {
  font-size: 3em;
  /* Increase the start and end font size by 3x */
  font-style: italic;
}